fastapi[all]
uvicorn
sqlalchemy
pydantic
python-multipart
aiofiles
python-jose
requests
celery
passlib[bcrypt]
tenacity
emails
raven
psycopg2
asyncpg
alembic
sqlalchemy
pytest
python-jose[cryptography]